<footer class="footer">
	<center>
		<p class="p_title">由 <a href="https://hexo.io/docs/configuration.html">Hexo</a>  强力驱动 | 主题 - <a href="/ ">colton</a></p>
		<p>© 2015 - 2017  colton</p>
	</center>
</footer>