.header {
  float:left;
  width: 26%;
  text-align: center;
  margin-top:1em
  padding-right: 10px;
  border-right: 1px solid #f3f3f3
  .blog-title .logo {
    color: #aaa;
    width: 160px;
    height: 160px;
    border-radius: 150px;
    border: 1px solid;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    display: inline-block;
    background: url("../images/header.png");
    font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
    text-decoration: none;
  }
}
.navbar{
  margin-left:1em;
}
.menu {
    margin: 38px 0 0 0;
    padding: 10px;
    vertical-align: middle;
    border-top:1px solid #ddd;
    list-style:none;
    .menu-item {
      height: 50px;
      line-height: 50px;
      text-align: left;
      &:hover{
        background:#f2f2f2;
      }
    }
    .menu-item-link {
      display:inline-block;
      width:100%;
      font-size:18px;
      color: #000;
      text-decoration: none;
      &:hover {
        color: #368CCB;
      }
    }
  }