.page-nav {
  padding: .5em 0;
  text-align: center;

  .prev,
  .next,
  .page-number {
    padding: .1em .5em;
  }

  .prev {
    
  }

  .next {
    
  }

  a {
    color: #777;
    text-decoration: none;
    &:hover {
      color: #368CCB;
    }
  }
}